/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rowdies', cursive; */

:root {
    --main-color: #14b8a6;
    --text-light-color: #e0f2fe;
    --header-color: #ecfccb;
}

* {
    margin: 0;
    padding: 0;
}


/*Container*/

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "sidebar header" "sidebar main" "sidebar main" "sidebar main";
}


/*header*/

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--header-color);
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #7a7c76;
}


/*Left side of header*/

.headerLeft {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.searchBar {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 20px;
}

.searchIcon,
.profileImage,
.iconsAndUsername {
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

.searchMenu>input {
    width: 90%;
    height: 20px;
    border: 1px solid rgb(83, 76, 76);
    background-color: rgb(192, 173, 173);
    padding-left: 10px;
    border-radius: 10px;
}

.searchMenu>input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

.profileGreetings {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
}

.profileGreetingsText {
    display: grid;
}

.profileGreetingsTextP {
    display: grid;
    justify-content: flex-start;
    align-items: flex-end;
}


/*Right side of header*/

.headerRight {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.iconsAndUsername {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: stretch;
    gap: 10px;
}

.rightIcon {
    display: grid;
    justify-content: flex-end;
}

.rightImage {
    display: grid;
    justify-content: center;
}

.rightButtons {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 50px;
    gap: 20px;
}


/*button*/

.myButton {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 17px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 11px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.myButton:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.myButton:active {
    position: relative;
    top: 1px;
}


/*sidebar*/

.sidebar {
    background-color: var(--main-color);
    color: var(--text-light-color);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 2fr 1fr 3fr;
    gap: 40px;
}

.sideBarStuff,
.sideBarStuff2,
.sideLogo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}

.logos,
.logos2,
.Logo {
    display: grid;
    justify-items: end;
    align-items: center;
}

.logoDescriptions,
.logoDescriptions2,
.sideText {
    display: grid;
    justify-items: flex-start;
    align-items: center;
}

.sideText>h2 {
    font-size: 32px;
}

.logoDescriptions,
.logoDescriptions2 {
    font-family: 'Rowdies', cursive;
}

.logoDescriptions>p:hover,
.logoDescriptions2>p:hover,
.sideText>h2:hover {
    cursor: pointer;
    color: rgb(180, 167, 167);
}

.sideBarStuff>.logos>img:hover,
.sideBarStuff2>.logos2>img:hover,
.sideLogo>.Logo>img:hover {
    cursor: pointer;
    filter: invert(72%) sepia(9%) saturate(260%) hue-rotate(314deg) brightness(95%) contrast(85%);
}


/*Make svgs white*/

.svgColor {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(102%);
}


/*main*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #c7c0ba;
    box-shadow: 0px -2px #888888;
}

.main h2,
.main h3 {
    font-family: 'Quicksand', sans-serif;
}

img:hover {
    cursor: pointer;
}

.projectsTitle {
    display: grid;
    align-items: end;
    padding-bottom: 10px;
}

.yourProjects {
    display: grid;
    grid-template-rows: 50px 5fr;
    padding: 15px;
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    height: 200px;
    display: grid;
    padding: 20px;
    border: 1px solid #a09797;
    border-radius: 10px;
    border-left: 8px solid #eab308;
    box-shadow: 1px 1px #888888;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

.card p {
    color: rgb(37, 35, 35);
    font-size: 90%;
    font-weight: 700;
}

.cardTitle {
    display: grid;
    align-items: end;
}

.cardText {
    display: grid;
    padding-right: 50px;
}

.cardIcons {
    display: grid;
    align-items: center;
    justify-content: flex-end;
    justify-items: end;
    gap: 30px;
    grid-template-columns: repeat(3, 10px);
}


/*Announcments section*/

.announcments {
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20%;
    font-family: 'Quicksand', sans-serif;
}

.announcments p {
    color: rgb(37, 35, 35);
    font-size: 90%;
    font-weight: 700;
}

.announcmentsTitle {
    display: grid;
    align-items: end;
    padding-bottom: 10px;
}

.announcmentsContainer {
    display: grid;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
}

.announcmentsContainer,
.trendingContainer {
    border: 1px solid #a09797;
    box-shadow: 1px 1px #888888;
}

.announcment:nth-last-child(1n +2) {
    border-bottom: 1px solid #a09797;
}

.announcmentText {
    display: grid;
    padding-bottom: 20px;
}


/*Trending*/

.trendingTitle {
    display: grid;
    align-items: flex-start;
}

.trendingTitle>h2 {
    margin: 20px 0px;
}

.trendingContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trendingPhoto {
    display: grid;
    justify-content: center;
    align-items: center;
}

.trendingDescription {
    display: grid;
}

.tdTitle {
    display: grid;
    align-items: end;
}

.tdDesc {
    font-size: 90%;
}