* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #14b8a6;
    --text-light-color: #e0f2fe;
    --header-color: #ecfccb;
}

body {
    background-color: #c7c0ba;
    ;
}

.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "navbar header" "navbar main";
}


/* NAVBAAAR CONTAINEEER*/

.sidebar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    background-color: var(--main-color);
    color: var(--text-light-color);
    padding: 20px;
}

.sideLogo {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 40px;
}

.titleLogo {
    display: grid;
    justify-items: center;
    align-items: center;
}

.logos,
.logos2 {
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 20px;
}


/*SIDEBAR TEXT*/

.sideBarStuff {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 40px;
}

.menuDescription,
.menuDescription2 {
    display: grid;
    justify-items: flex-start;
    align-items: start;
}

.menuDescription,
.menuDescription2 {
    font-family: 'Rowdies', cursive;
    gap: 20px;
}

.sideText {
    display: grid;
    justify-items: flex-start;
    align-items: center;
}

.sideText>h2 {
    font-size: 32px;
}

.menuDescription>p:hover,
.menuDescription2>p:hover,
.sideText>h2:hover {
    cursor: pointer;
    color: rgb(180, 167, 167);
}

.logos>img:hover,
.logos2>img:hover {
    filter: invert(72%) sepia(9%) saturate(260%) hue-rotate(314deg) brightness(95%) contrast(85%);
}


/*Make svgs white*/

.svgColor {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(102%);
}


/*HEADEEER CONTAINER */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #7a7c76;
    gap: 50px;
    padding: 20px;
}


/*LEFT SIDE OF HEADEEER*/

.headerLeft {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.searchBar {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 20px;
}

.searchIcon,
.profileImage,
.iconsAndUsername {
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

.searchMenu>input {
    width: 90%;
    height: 20px;
    border: 1px solid rgb(83, 76, 76);
    background-color: rgb(192, 173, 173);
    padding-left: 10px;
    border-radius: 10px;
}

.searchMenu>input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

.profileGreetings {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
}

.profileGreetingsText {
    display: grid;
}

.profileGreetingsTextP {
    display: grid;
    justify-content: flex-start;
    align-items: flex-end;
}


/*Right side of header!!!!!!!!!!!!!!!!!!!!!!!!*/

.headerRight {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.iconsAndUsername {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: stretch;
    gap: 10px;
}

.rightIcon {
    display: grid;
    justify-content: flex-end;
}

.rightImage {
    display: grid;
    justify-content: center;
}

.rightButtons {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 50px;
    gap: 20px;
}


/*button*/

.myButton {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 17px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 11px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.myButton:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.myButton:active {
    position: relative;
    top: 1px;
}


/*MAIN CONTAINEEEER*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-bottom: 3%;
    background-color: #c7c0ba;
    box-shadow: 0px -2px #888888;
}

.main h2,
.main h3 {
    font-family: 'Quicksand', sans-serif;
}

img:hover {
    cursor: pointer;
}

.projectsTitle {
    display: grid;
    align-items: end;
    padding-bottom: 10px;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 20px;
    margin-left: 2%;
}

.projectCards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


/*card styling*/

.card {
    height: 200px;
    display: grid;
    padding: 20px;
    border: 1px solid #a09797;
    border-radius: 10px;
    border-left: 8px solid #eab308;
    box-shadow: 1px 1px #888888;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

.card p {
    color: #888888;
    font-size: 90%;
    font-weight: 700;
}

.cardTitle {
    display: grid;
    align-items: end;
}

.cardText {
    display: grid;
    padding-right: 50px;
}

.cardIcons {
    display: grid;
    align-items: center;
    justify-content: flex-end;
    justify-items: end;
    gap: 30px;
    grid-template-columns: repeat(3, 10px);
}


/*Right side of main*/


/*CONTAINEEEEER*/

.announcments {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 4fr;
    gap: 20px;
    margin-right: 5%;
    font-family: 'Quicksand', sans-serif;
}

.announcments p {
    color: #888888;
    font-size: 90%;
    font-weight: 700;
}

.announcmentsTitle {
    display: grid;
    align-items: end;
}


/*Announcment container*/

.announcmentCard {
    display: grid;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #a09797;
    box-shadow: 1px 1px #888888;
}

.announcment:nth-last-child(1n +2) {
    border-bottom: 1px solid #a09797;
}

.announcmentText {
    display: grid;
}


/*Trending title*/

.trendingTitle {
    display: grid;
    align-items: flex-end;
}


/*Trending container*/

.trendingCard {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 10px;
    border: 1px solid #a09797;
    box-shadow: 1px 1px #888888;
}


/*Trending picture*/

.trending {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trendingPhoto {
    display: grid;
    justify-content: center;
    align-items: center;
}


/*Trending text*/

.trendingDescription {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tdTitle {
    display: grid;
    align-items: end;
    font-weight: 800;
}

.tdDesc {
    font-size: 90%;
}